extends ../layouts/default.jade
block content
	link(href='components/slider/slider.css', rel='stylesheet', type='text/css', media='all')
	link(rel='stylesheet', href='components/index-css/owl.carousel.css')
	div#da-slider.da-slider
		div.da-slide

			h2.product-name #{data[0].basicInfo.name}
			p.dots3 #{data[0].basicInfo.description}
			a.da-link(href='#{data[0].productID}') shop now
			.da-img
				img(src='#{data[0].basicInfo.imgUrl}', alt='Anh')
		div.da-slide
			h2.product-name #{data[1].basicInfo.name}

			p.dots3 #{data[1].basicInfo.description}
			a.da-link(href='#{data[1].productID}') shop now
			.da-img
				img(src='#{data[1].basicInfo.imgUrl}', alt='image01')
		div.da-slide
			h2.product-name #{data[2].basicInfo.name}

			p.dots3 #{data[1].basicInfo.description}
			a.da-link(href='#{data[2].productID}') shop now
			.da-img
				img(src='#{data[2].basicInfo.imgUrl}', alt='image01')
		nav.da-arrows
			span.da-arrows-prev
			span.da-arrows-next
	.main_bg1
		.wrap
			.main1
				h2 featured products
	.main_bg
		.wrap
			.main
				.grids_of_3
					for product in data
						.grid1_of_3(class="animated zoomIn")
							a(href='#{product.productID}')
								img.product-image(src='#{product.basicInfo.imgUrl}', alt='product')
								div(style="margin: 6% 0 8%; height:110px;")
									h3.dots3 #{product.basicInfo.name}
								.price
									h4 #{product.basicInfo.price}
										span indulge
								span.b_btm
					.clear


	script(type='text/javascript', src='components/index-js/modernizr.custom.28468.js')
	script(type='text/javascript', src='components/index-js/jquery.cslider.js')
	script(type='text/javascript', src='components/index-js/owl.carousel.js')
	script(type='text/javascript', src='js/home.js')
